body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #dad4d4;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 36px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #444;
    color: #fff;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f0ad4e;
}

.operator {
    background-color: #f0ad4e;
}

.operator:hover {
    background-color: #d9534f;
}

.clear {
    background-color: #d9534f;
}

.clear:hover {
    background-color: #a94442;
}